<!doctype html>
<html lang="en">

<head>
	<title>Pay Bill</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/navbar-style.css">
    <link href="../css/forms.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>
<body>
	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar" style="height: 100vh;">
			<div class="custom-menu">
				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fa fa-bars"></i>
					<span class="sr-only">Toggle Menu</span>
				</button>
			</div>
			<div class="p-4">
				<h1><a href="index.html" class="logo">CRCS <span>Cable Rent Collection System</span></a></h1>
				<ul class="list-unstyled components mb-5">
					<li class="active">
						<a href="/dashboard"><span class="fa fa-home mr-3"></span> Home</a>
					</li>
					<li>
						<a href="/dashboard/paybill"><span class="fa fa-money mr-3"></span> Pay Bill</a>
					</li>
					<li>
						<a href="/dashboard/applyconnection"><span class="fa fa-desktop mr-3"></span> Install New Setup</a>
					</li>
					<li>
						<a href="/dashboard/complain"><span class="fa fa-sticky-note mr-3"></span> Complain</a>
					</li>
					<li>
						<a href="/dashboard/query"><span class="fa fa-users mr-3"></span> Query</a>
					</li>
					<li>
						<a href="/logout"><span class="fa fa-sign-out mr-3"></span> Logout</a>
					</li>
				</ul>
			</div>
		</nav>
		<div id="content" class="p-4 p-md-5 pt-5" style="margin-left: 100px;width: 50%;">
			<div class="card-body">
                <h2 class="title">Pay Bill</h2>
                <form>
                    <div class="row row-space">
                        <div class="col-4">
                            <div class="input-group">
                                <label class="label">Address</label>
                                <input class="input--style-4" type="text" name="address" style="font-weight: bold;" value="<%=address%>" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-4">
                            <div class="input-group">
                                <label class="label">VC Number</label>
                                <input class="input--style-4" type="string" name="deviceID" style="font-weight: bold;" value="<%=deviceID%>" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-4">
                            <div class="input-group">
                                <label class="label">Bill Amount</label>
                                <input class="input--style-4" type="string" name="amount" style="font-weight: bold;" value="<%=amount%>" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-4">
                            <div class="input-group">
                                <label class="label">Payment Method</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Paypal
                                        <input type="radio" checked="checked" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Card
                                        <input type="radio" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Pay Bill</button>
                    </div>
                </form>
            </div>
		</div>
	</div>

	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./js/forms.js"></script>
</body>
</html>